<div class="blockWrap">
  <ul>
    <li (click)="changeLocation('SouthJungle', 1, 2)">South Jungle</li>
    <li (click)="changeLocation('Hills', 2, 2)">Hills</li>
    <li (click)="changeLocation('WestJungle', 3, 2)">West Jungle</li>
    <li (click)="changeLocation('UpperWestJungle', 4, 3)">Upper West Jungle</li>
    <li (click)="changeLocation('EastJungle', 3, 2)">East Jungle</li>
    <li (click)="changeLocation('Swamp', 4, 3)">Swamp</li>
    <li (click)="changeLocation('NorthHills', 5, 3)">North Hills</li>
    <li (click)="changeLocation('SouthPlains', 4, 2)">South Plains</li>
    <li (click)="changeLocation('Highlands', 5, 3)">Highlands</li>
    <li (click)="changeLocation('Desert', 6, 4)">Desert</li>
    <li (click)="changeLocation('NorthPlains', 6, 3)">North Plains</li>
    <li (click)="changeLocation('Mountains', 7, 4)">Mountains</li>
    <li (click)="changeLocation('NorthMountains', 7, 4)">North Mountains</li>
    <li (click)="changeLocation('Caves', 5, 7)">Caves</li>
  </ul>
</div>

<div class="blockWrap">
  <h2>Current Location: {{this.infoService.location}}</h2>
  <br />
  <br />
  <h2>Danger Zone</h2>
  <p-selectButton [options]="dzOptions" [(ngModel)]="DZ" (onChange)="dangerZone()"></p-selectButton>
  <br />
  <br />
  <h2>Exploring</h2>
  <p-inputSwitch [(ngModel)]="exploring" (onChange)="explore()"></p-inputSwitch>
</div>