.blockWrap{
    display: inline-block;
    margin-left: 5px;
}

h2{
    display: inline;
}

ul{
    list-style-type: none;
}

li{
    padding: 3px;
    border: 1px solid grey;
    margin: 1px;
    cursor: pointer;
}