.blockWrap{
    text-align: center;
}

h2{
    display: inline;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li{
    padding: 3px;
    border: 1px solid grey;
    margin: 1px;
    cursor: pointer;
}

