<div class="blockWrap">
  <ul>
    <li (click)="changeLocation('SouthJungle', 1, 3)">South Jungle</li>
    <li (click)="changeLocation('Hills', 2, 2)">Hills</li>
    <li (click)="changeLocation('WestJungle', 3, 3)">West Jungle</li>
    <li (click)="changeLocation('UpperWestJungle', 4, 4)">Upper West Jungle</li>
    <li (click)="changeLocation('EastJungle', 3, 3)">East Jungle</li>
    <li (click)="changeLocation('Swamp', 4, 3)">Swamp</li>
    <li (click)="changeLocation('NorthHills', 5, 2)">North Hills</li>
    <li (click)="changeLocation('SouthPlains', 4, 2)">South Plains</li>
    <li (click)="changeLocation('Uplands', 5, 3)">Uplands</li>
    <li (click)="changeLocation('SouthDesert', 6, 4)">South Desert</li>
    <li (click)="changeLocation('NorthDesert', 7, 4)">North Desert</li>
    <li (click)="changeLocation('NorthPlains', 6, 3)">North Plains</li>
    <li (click)="changeLocation('OozeGarden', 6, 5)">Ooze Garden</li>
    <li (click)="changeLocation('Mountains', 7, 4)">Mountains</li>
    <li (click)="changeLocation('NorthMountains', 7, 5)">North Mountains</li>
    <li (click)="changeLocation('Caves', 2, 4)">Easy Caves</li>
    <li (click)="changeLocation('Caves', 5, 4)">Caves</li>
    <li (click)="changeLocation('GreatCloudSea', 5, 4)">Great Cloud Sea</li>
  </ul>
</div>

<div class="blockWrap">
  <h2>Current Location: {{this.infoService.location}}</h2>
  <br />
  <br />
  <h2>Danger Zone</h2>
  <p-selectButton [options]="dzOptions" [(ngModel)]="DZ" (onChange)="dangerZone()"></p-selectButton>
  <br />
  <br />
  <h2>Exploring</h2>
  <p-inputSwitch [(ngModel)]="exploring" (onChange)="explore()"></p-inputSwitch>
</div>