$primaryColor: #3e464c;
$primaryDarkColor: #2b3535;
$primaryLightColor: #777d81;
$ibewBlue: #043669;
$ibewDarkBlue: #0a2642;
$ibewYellow: #f1b34c;
//$accentColor: #5180ce;
$accentColor: #0053a1;
$accentDarkColor: #274d8d;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';