<div style="margin-bottom: 5px; text-align: center">
  <label>Number of PCs: </label>
  <p-spinner [size]=1 [(ngModel)]="numPC" [min]="1" [max]="8" (onChange)="adjustEncounter()"></p-spinner>
</div>
<button pButton type="button" label="Generate Encounter" (click)="generateEncounter()" style="width: 80%; margin-bottom: 10px; margin-left: 10%;"></button>
<p>Monster: <b>{{currEncounter}}</b></p>
<p>Xp Allowance (Lower Bounds | Goal | Upper Bounds): {{xpAllowanceMed}} | <b>{{xpAllowance}}</b> | {{xpAllowanceDeadly}}</p>
<p>Loot: {{treasure}}</p>

<div *ngIf="currEncounterEntities" class="flex">
  <div class="half">
    <div class="monster-block" *ngFor="let monster of objectKeys(currEncounterEntities); let index = index">
      <span class="monster-name">{{monster + ' (CR ' + currEncounterEntities[monster] + ')'}}</span>
      <input [value]="currEncounterEntities[monster]" id="monsterCR{{index}}" disabled hidden>
      <p-spinner [min]=0 (onChange)="currEncounterXP()" [(ngModel)]="currEncounterNumbers[index]" [size]=1 [inputStyleClass]="xp-input"></p-spinner>
    </div>
    <h3 *ngIf="totalXP">
      <span class="monster-name">Total XP:</span>{{totalXP}}
    </h3>
  </div>
  <div class="half">
    <button pButton type="button" label="Regenerate Motivation" (click)="generateMotivation()" style="width: 80%; margin-bottom: 10px; margin-left: 10%;"></button>
    <p>{{motivation}}</p>
  </div>
</div>