li{
    cursor: pointer;
}

.monster-name{
    width: 275px;
    display: inline-block;
}

.half{
    display: inline-block;
    width: 50%;
}

.disc{
    border: 1px solid grey;
    background: antiquewhite;
}