<div class="settingsWrap">
    <button pButton type="button" label="Advance Time Period" (click)="advanceTimePeriod()" icon="ui-icon-timer" style="width: 100%"></button>
    <button pButton type="button" label="Set Calendar" (click)="openCalendarTool()" icon="ui-icon-date-range"></button>
    <button pButton type="button" label="Add a Day" (click)="addDay()" icon="ui-icon-today" [disabled]="dateSet == false"></button>
    <button pButton type="button" label="Generate Encounter Loot" (click)="openTreasureTool()" icon="ui-icon-attach-money"></button>
    <button pButton type="button" label="Treasure Horde Generator" routerLink="/treasure" icon="ui-icon-cake"></button>
</div>

<p-dialog header="Set Calendar" [(visible)]="showCalendarTool" [draggable]="false">
    <form (ngSubmit)="setCalendar()" #calendarForm="ngForm">
        <label>Day:</label>
        <input type="number" name="day" min=1 max=30 pInputText [(ngModel)]="chosenDay" required/>
        <label>Month:</label>
        <select name="month" [(ngModel)]="chosenMonth" required>
            <option *ngFor="let month of months" [ngValue]="month.value">{{month.label}}</option>
        </select>
        <label>Year:</label>
        <input type="number" name="year" min=1 pInputText [(ngModel)]="chosenYear" />

        <button pButton type="submit" label="Submit" [disabled]="!calendarForm.form.valid"></button>
    </form>
</p-dialog>

<p-dialog header="Generate Treasure" [(visible)]="showTreasureTool" [draggable]="true" [modal]="true" [dismissableMask]="true">
    <form (ngSubmit)="generateTreasure()" #treasureForm="ngForm">
        <div class="form-section flex-col center">
            <label>Monster Challenge Rating:</label>
            <input type="number" name="EL" min=1 pInputText [(ngModel)]="encounterLevel" required/>
        </div>
        <button pButton type="submit" label="Generate Treasure" style="width: 100%;"></button>
    </form>
    <div style="margin-top: 15px;">
        {{treasure}}
    </div>
</p-dialog>