<div class="settingsWrap">
    <button pButton type="button" label="Advance Time Period" (click)="advanceTimePeriod()" icon="ui-icon-timer" style="width: 100%"></button>
    <button pButton type="button" label="Set Calendar" (click)="openCalendarTool()" icon="ui-icon-date-range"></button>
    <button pButton type="button" label="Add a Day" (click)="addDay()" icon="ui-icon-today" [disabled]="dateSet == false"></button>
    <button pButton type="button" label="Generate Treasure" (click)="openTreasure()" icon="ui-icon-today"></button>
</div>

<p-dialog header="Set Calendar" [(visible)]="showCalendarTool" [draggable]="false">
    <form (ngSubmit)="setCalendar()" #calendarForm="ngForm">
        <label>Day:</label>
        <input type="number" name="day" min=1 max=30 pInputText [(ngModel)]="chosenDay" required/>
        <label>Month:</label>
        <select name="month" [(ngModel)]="chosenMonth" required>
            <option *ngFor="let month of months" [ngValue]="month.value">{{month.label}}</option>
        </select>
        <label>Year:</label>
        <input type="number" name="year" min=1 pInputText [(ngModel)]="chosenYear" />

        <button pButton type="submit" label="Submit" [disabled]="!calendarForm.form.valid"></button>
    </form>
</p-dialog>

<p-dialog header="Generate Treasure" [(visible)]="showTreasureTool" [draggable]="true" [modal]="true" [dismissableMask]="true">
    <form (ngSubmit)="generateTreasure()" #treasureForm="ngForm">
        <div class="flex-col center">
            <label>Individual Treasure | Treasure Horde</label>
            <p-inputSwitch [(ngModel)]="individualOrHorde" name="hordeOption"></p-inputSwitch>
        </div>
        <label *ngIf="!individualOrHorde">Monster Challenge Rating:</label>
        <label *ngIf="individualOrHorde">Treasure Horde Area Level:</label>
        <input type="number" name="day" min=1 pInputText [(ngModel)]="encounterLevel" required/>

        <button pButton type="submit" label="Generate Treasure"></button>
        <div style="margin-top: 15px;">
            {{treasureHorde}}
        </div>
    </form>
</p-dialog>