form > *{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

label{
    margin-bottom: 0px;
}

button{
    margin: 5px;
}

.settingsWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}